---
layout: layouts/home.njk
slug: home
headingPage: "#draftJam is one Saturday, every other month, to set aside time and turn draft ideas into published blog posts."
headingNextJam: Next jam
textNextJam: TBD, a Saturday in September. Default times in PST.
headingLearnMore: Learn more
---

Some further explanatory text will go here.