---
title: Draft Jam
---

<main role="main">
  <div class="landing">
    <div class="landing__intro">
      <h1>{{ headingPage }}</h1>
      {{ content | safe }}
    </div>
    <div class="landing__section">
      <h2>{{ headingNextJam }}</h2>
      <p>{{ textNextJam }}</p>
    </div>
    <div class="landing__section">
      <h2>{{ headingLearnMore }}</h2>
    </div>
  </div>
</main>